/* --- Fonts --- */

@font-face{
    font-family: 'Inconsolata';
    src: local('Inconsolata'), url(/pos_print_receipt_backend/static/src/fonts/Inconsolata.otf);
}

/* --- Generic Restyling and Resets --- */

.receipt {
    direction: ltr;
    padding: 0;
    margin: 0;
    background-color: #f0eeee;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    color: #555555;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    text-shadow: none;
}

/*  ********* Generic element styling  ********* */

.receipt .right-align {
    text-align: right;
}
.receipt .center-align {
    text-align: center;
}

/* The receipt */

.receipt .receipt-container {
    font-size: 0.75em;
    text-align: center;
    direction: ltr;
}

.receipt .sale-ticket {
    text-align: left;
    width: 350px;
    background-color: white;
    margin: 20px;
    padding: 15px;
    font-size: 14px;
    display: inline-block;
    font-family: "Inconsolata";
    border: solid 1px rgb(220,220,220);
    border-radius: 3px;
}
.receipt .sale-ticket pre{
    font-family: "Inconsolata";
}
.receipt .sale-ticket .emph{
    font-size: 20px;
    margin:5px;
}
.receipt .sale-ticket table {
    width: 100%;
    border: 0;
    table-layout: fixed;
}
.receipt .sale-ticket table td {
    border: 0;
    word-wrap: break-word;
}
